/* ------------------------- reset style of the app ------------------------- */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*10px*/
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

a,
ul,
li,
button,
input {
    text-decoration: none;
    border: none;
    outline: none;
    list-style-type: none;
}


/* ------------------------------- root style ------------------------------- */


:root {
    --primery-color: rgb(255, 205, 109);
    --secondry-color: rgb(255, 172, 11);
    --third-color: #fff;
    --text-color:#fff;
}


/* ----------------------------- container style ---------------------------- */

.container{
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
    padding: 2rem 1.5rem 0;

}

/* -------------------------------- font face ------------------------------- */


@font-face {
    font-family: ExtraBold;
    src: url(/font/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: Inter-Black;
    src: url(/font/Inter-Black.ttf);
}

@font-face {
    font-family: ExtraBold;
    src: url(/font/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: Bold;
    src: url(/font/Inter-Bold.ttf);
}

@font-face {
    font-family: SemiBold;
    src: url(/font/Inter-SemiBold.ttf);
}



/* ------------------------------- body style ------------------------------- */

body{
    font-size: 1.8rem;
    font-family: "semibold";
    background-color: var(--primery-color);
}


/* ---------------------------- navigation style ---------------------------- */


nav, 
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------- menu ---------------------------------- */

.menu{
    column-gap: 5rem;
}
.menu, .logo__img-box{
    background-color: rgba(255, 255, 255, .10);
    padding: 3rem;
    border-radius: 2rem;
}
.menu__item:nth-child(2){
    position: relative;
    transition: all 200ms ease-in 180ms;
}

/* ----------------------------- menu item hove ----------------------------- */

.menu__item:nth-child(2):hover .submenu{
    opacity: 1;
    top: 7rem;
}
.menu__item-icon{
    transition: all 200ms ease-in 180ms;
}
.menu__item:nth-child(2):hover .menu__item-icon{
    transform: rotate(180deg);
}

/* --------------------------------- submenu -------------------------------- */

.submenu{
    position: absolute;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
    top: -20rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .10);
    opacity: 0;
    width: 100%;
    padding: 2rem 0 ;
    border-radius: 2rem;
    transition: all 200ms ease-in 180ms;
}

/* ------------------------------ submenu hover ----------------------------- */

.submenu__item-link{
    padding: 1rem;
    border-radius: 1.3rem;
    transition: all 250ms ease-out;
}
.submenu__item-link:hover{
    background-color: var(--third-color);
    color: var(--primery-color);
}

/* ----------------------------- respnsive style ---------------------------- */

@media (max-width: 1400px) {
    .container{
        width: 136rem;
    }
}

@media (max-width: 1200px) {
    .container{
        width: 114rem;
    }
}

@media (max-width: 992px) {
    .container{
        width: 96rem;
    }
}

@media (max-width: 768px) {
    .container{
        width: 72rem;
    }
}

@media (max-width: 576px) {
    .container{
        width: 54rem;
    }
}

@media (max-width: 460px) {
    .container{
        width: 42rem;
    }
}

@media (max-width: 380px) {
    .container{
        width: 35rem;
    }
}